<div class="head">
    <div class="logo">Câine 1.6</div>
    <mat-button-toggle-group
        class="options"
        [ngModel]="mode"
        (change)="onModeChange($event)"
    >
        <mat-button-toggle [value]="modeEnum.ControlAndPlay"
            >Control &amp; Play</mat-button-toggle
        >
        <mat-button-toggle [value]="modeEnum.ControlOnly"
            >Control only</mat-button-toggle
        >
        <mat-button-toggle [value]="modeEnum.PlayOnly"
            >Play only</mat-button-toggle
        >
    </mat-button-toggle-group>
</div>
