<div>
    <mat-grid-list cols="1" rowHeight="100px" style="width:100%">
        <mat-grid-tile>
            <fieldset>
                <legend>kHz</legend>
                <mat-slider min="0" max="25" step="1" thumbLabel [(ngModel)]="khz" tickInterval="1"></mat-slider>
            </fieldset>
        </mat-grid-tile>
        <mat-grid-tile>
            <fieldset>
                <legend>Seconds</legend>
                <mat-slider min="0" max="60" step="1" thumbLabel [(ngModel)]="seconds" tickInterval="5"></mat-slider>
            </fieldset>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="send()">Play!</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>