<div>
    
        <mat-grid-list cols="1" rowHeight="100px" style="width:100%">
            <mat-grid-tile>
                <mat-slider min="0" max="25000" step="1000" value="21000" thumbLabel [displayWith]="formatLabel"
                    tickInterval="1000"></mat-slider> Khz
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <mat-label>Seconds</mat-label>
                    <input matInput placeholder="Ex. 10" value="10">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="send()">Play!</button>
            </mat-grid-tile>
        </mat-grid-list>
    
</div>