<div *ngIf="currentState === currentStateEnum.InProgress" class="parent parent-active">
    <img class="playing" src="/assets/img/sound-trans.gif" />
    <span class="primary">
        Playing {{isInPlayMode ? "here" : ""}} 
        {{currentCommand.FreqInKhz}} kHz for
        {{currentCommand.DurationInSeconds}}
        seconds...</span>
    <span class="secondary">Sent by {{currentCommand.Owner}} @ {{currentCommand.Date}}.</span>
</div>
<div *ngIf="currentState === currentStateEnum.Idle" class="parent parent-inactive">
    <span class="primary-inactive">Sound player is waiting for a Play command...</span>
</div>