.parent {
    position:relative;
    width:90%;
    height:60px;
    margin: 0 auto;
}

.playing {
    position:absolute;
    top:0;
}

.primary {
    position:absolute;
    top:5px;
    left:70px;
}

.secondary {
    position:absolute;
    top:25px;
    left:70px;
    color: darkgray;
    font-size: 14px;
}