.parent {
    position: relative;
    height: 45px;
    margin: 0 auto;
    padding-left: 27px;
    padding-top: 19px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.parent-inactive {
    background-color: #efefef;
    color: #797474;
    padding-top: 21px;
}

.parent-active {
    background-color: #ffe4ed;
    color: #797474;
    font-weight:400;
}

.playing {
    position:absolute;
    top:7px;
}

.primary {
    position:absolute;
    top:12px;
    left:100px;
}

.secondary {
    position:absolute;
    top:32px;
    left:100px;
    color: darkgray;
    font-size: 14px;
}